@media (min-width: 768px ){
.respon body{
	position: relative;
	width: 70%;
}	
}

.body{
	background-color: lightpink;
}

/* head */
.logo{
	float: left;
}
.kopma{
	float: left;
	color: red;
}
.unej{
	float: left;
	color: green;
}
.search{
	float: right;
	width: 155px;
	border: 2px solid grey;
	border-radius: 5px;
	font-size: 16px;
	background-color: white;
	background-image: url(search.png);
	background-repeat: no-repeat;
	background-position: 10px 10px 10px 10px;
	margin-top: 25px;
	margin-right: 50px;
	padding: 0px 20px 1px 20px;
	background-color: transparent;

}

/* navigasi */
.navbar {
	width: 900px;
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
     padding-left: 450px;
     background-color: rgba(0,0,0,.5);

}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.wrap{
    text-align: center;
}


.timeline{
	background-color: white;
	width: 900px;
	height: 200px;
	display: inline-grid ;
	grid-template-columns: repeat(4, auto);
	font-size: 20px;
	padding-top: 20px;
}
.back{
	padding-top: 60px;
}
.kopma2{
	padding-top: 30px;
}
.forward{
	padding-top: 60px; 
}

/* login */

.loginbox{

	right: 10px;
   	top: 50px;
	transform: translate(200px,0px);
	padding:80px 40px;
	width: 200px;
	height: 300px;
	box-sizing: border-box;
	background: rgba(0,0,0,0.5);
	border-radius: 5px;
}

.user{
	width: 100px;
	height: 100px;
	border-radius: 50px;
	overflow: hidden;
	position: absolute;
	top: calc(-100px/2);
	left:calc(50% - 50px);
	}

h2{
	margin: 0;
	padding: 0 0 20px;
	color: lightgreen;
	text-align: center;
}

.loginbox p{
	margin: 0;
	padding: 0;
	font-weight: bold;
	color:white;
}
.loginbox input{
	width: 100px;
	margin-bottom: 20px;
}

.loginbox input[type="text"],
.loginbox input[type="password"]{
	border: none;
	border-bottom: 1px solid white;
	background: transparent;
	outline: none;
	height: 40px;
	color: grey;
	font-size: 16px; 
}

::placeholder
{
	color: rgba(255,255,255,.5);
}
.loginbox input[type="submit"]
{
border: none;
outline: none;
height: 40px;
color: grey;
font-size: 16px;
cursor: pointer;
border-radius: 20px; 
}

.loginbox input[type="submit"]:hover
{
	background: lightgreen;
	color: pink;
}
.loginbox a
{
	color: white;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}

/* bottom */
.bottom{
	display: inline-grid ;
	grid-template-columns: repeat(2, auto);
	background-color: lightblue;
	margin-top: 200px;
	padding-right: 1050px;
	width: 300px;

	
}
.l1{
	display: inline-grid ;
	grid-template-columns: repeat(3, auto);
}
.l2{
	display: inline-grid ;
	grid-template-columns: repeat(2, auto);
}
.l3{
	display: inline-grid ;
	grid-template-columns: repeat(2, auto);
}
.l4{
	display: inline-grid ;
	grid-template-columns: repeat(2, auto);
}
.l5{
	display: inline-grid ;
	grid-template-columns: repeat(2, auto);
	padding:10px 20px 10px 50px;
	width: 100px;
	margin-left: 800px;
}
.l5 h3{
	width: 300px;
}

.l6{
	display: inline-grid ;
	grid-template-columns: repeat(2, auto);
	padding:10px 20px 10px 80px;
	width: 100px;
	margin-left: 800px;
}
.l6 h3{
	width: 300px;
}

.isipromo{
	display: inline-grid ;
	grid-template-columns: repeat(2, auto);
}

.promo {
	background-color: rgba(0,0,0,.5);
	width: 900px;
	height: 850px;
	font-size: 20px;
	padding-top: 20px;
	
}
.gambarpromo{
	width: 100px;
	height: 80px;
margin-left: 200px;
}